# Віртуальне середовище
.venv/
venv/

# Налаштування IDE (PyCharm)
.idea/

# База даних (якщо використовуєте sqlite)
db.sqlite3
*.sqlite3

# Python кеш
__pycache__/
*.pyc

# Статика (якщо ви її збираєте командою collectstatic)
# /static/
october.xlsx
import_for_wfm.csv
import_for_wfm.xlsx
converter.py
# (Залиште це закоментованим, поки не знаєте, що робите)

# Файли .env (якщо будете зберігати паролі)
.env